<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Spring-Boot Básico</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/image/favicon.png"/>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{fragments/header :: cabecalho}">
   <div>Header</div>
</header>

<div class="layout-main">
    <aside>
        <nav class="sidebar sidebar-open" th:replace="~{fragments/sidebar :: nav-sidebar}">
            <span>menu</span>
        </nav>
    </aside>

    <section class="layout-content" layout:fragment="corpo">
        <div>conteudo principal</div>
    </section>

</div>

<footer class="layout-footer" th:replace="~{fragments/footer :: rodape}">
    <div>
        footer
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-3.7.1.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.mask.js}"></script>
<script th:src="@{/js/fontawesome.js}"></script>
<script type="text/javascript">

    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    $(document).ready(function () {
        $(".navbar-toggle").click(function () {
            $(".sidebar").toggleClass("sidebar-open");
        })
    });

</script>
</body>
</html>